In [1]:
# Import all the necessary libraries

import numpy as np
import pandas as pd
from datetime import datetime as dt
import itertools
import warnings
from tqdm import tqdm
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
loc = "./dataset/"
raw_data_2 = pd.read_csv(loc + '2001-2002.csv')
raw_data_3 = pd.read_csv(loc + '2002-2003.csv')
raw_data_4 = pd.read_csv(loc + '2003-2004.csv',error_bad_lines=False)
raw_data_5 = pd.read_csv(loc + '2004-2005.csv',error_bad_lines=False)
raw_data_6 = pd.read_csv(loc + '2005-2006.csv')
raw_data_7 = pd.read_csv(loc + '2006-2007.csv')
raw_data_8 = pd.read_csv(loc + '2007-2008.csv')
raw_data_9 = pd.read_csv(loc + '2008-2009.csv')
raw_data_10 = pd.read_csv(loc + '2009-2010.csv')
raw_data_11 = pd.read_csv(loc + '2010-2011.csv')
raw_data_12 = pd.read_csv(loc + '2011-2012.csv')
raw_data_13 = pd.read_csv(loc + '2012-2013.csv')
raw_data_14 = pd.read_csv(loc + '2013-2014.csv')
raw_data_15 = pd.read_csv(loc + '2014-2015.csv')
raw_data_16 = pd.read_csv(loc + '2015-2016.csv')
raw_data_17 = pd.read_csv(loc + '2016-2017.csv')
raw_data_18 = pd.read_csv(loc + '2017-2018.csv')
raw_data_19 = pd.read_csv(loc + '2018-2019.csv')
raw_data_20 = pd.read_csv(loc + '2019-2020.csv')
raw_data_21 = pd.read_csv(loc + '2020-2021.csv')
raw_data_22 = pd.read_csv(loc + '2021-2022.csv')

b'Skipping line 305: expected 57 fields, saw 72\nSkipping line 306: expected 57 fields, saw 72\nSkipping line 307: expected 57 fields, saw 72\nSkipping line 308: expected 57 fields, saw 72\nSkipping line 309: expected 57 fields, saw 72\nSkipping line 310: expected 57 fields, saw 72\nSkipping line 311: expected 57 fields, saw 72\nSkipping line 312: expected 57 fields, saw 72\nSkipping line 313: expected 57 fields, saw 72\nSkipping line 314: expected 57 fields, saw 72\nSkipping line 315: expected 57 fields, saw 72\nSkipping line 316: expected 57 fields, saw 72\nSkipping line 317: expected 57 fields, saw 72\nSkipping line 318: expected 57 fields, saw 72\nSkipping line 319: expected 57 fields, saw 72\nSkipping line 320: expected 57 fields, saw 72\nSkipping line 321: expected 57 fields, saw 72\nSkipping line 322: expected 57 fields, saw 72\nSkipping line 323: expected 57 fields, saw 72\nSkipping line 324: expected 57 fields, saw 72\nSkipping line 325: expected 57 fields, saw 72\nSkipping line 326: expected 57 fields, saw 72\nSkipping line 327: expected 57 fields, saw 72\nSkipping line 328: expected 57 fields, saw 72\nSkipping line 329: expected 57 fields, saw 72\nSkipping line 330: expected 57 fields, saw 72\nSkipping line 331: expected 57 fields, saw 72\nSkipping line 332: expected 57 fields, saw 72\nSkipping line 333: expected 57 fields, saw 72\nSkipping line 334: expected 57 fields, saw 72\nSkipping line 335: expected 57 fields, saw 72\nSkipping line 336: expected 57 fields, saw 72\nSkipping line 369: expected 57 fields, saw 62\nSkipping line 370: expected 57 fields, saw 62\nSkipping line 371: expected 57 fields, saw 62\nSkipping line 372: expected 57 fields, saw 62\nSkipping line 373: expected 57 fields, saw 62\nSkipping line 374: expected 57 fields, saw 62\nSkipping line 375: expected 57 fields, saw 62\nSkipping line 376: expected 57 fields, saw 62\nSkipping line 377: expected 57 fields, saw 62\nSkipping line 378: expected 57 fields, saw 62\nSkipping line 379: expected 57 fields, saw 62\nSkipping line 380: expected 57 fields, saw 62\nSkipping line 381: expected 57 fields, saw 62\n'
b'Skipping line 337: expected 57 fields, saw 62\nSkipping line 338: expected 57 fields, saw 62\nSkipping line 339: expected 57 fields, saw 62\nSkipping line 340: expected 57 fields, saw 62\nSkipping line 341: expected 57 fields, saw 62\nSkipping line 342: expected 57 fields, saw 62\nSkipping line 343: expected 57 fields, saw 62\nSkipping line 344: expected 57 fields, saw 62\nSkipping line 345: expected 57 fields, saw 62\nSkipping line 346: expected 57 fields, saw 62\nSkipping line 347: expected 57 fields, saw 62\nSkipping line 348: expected 57 fields, saw 62\nSkipping line 349: expected 57 fields, saw 62\nSkipping line 350: expected 57 fields, saw 62\nSkipping line 351: expected 57 fields, saw 62\nSkipping line 352: expected 57 fields, saw 62\nSkipping line 353: expected 57 fields, saw 62\nSkipping line 354: expected 57 fields, saw 62\nSkipping line 355: expected 57 fields, saw 62\nSkipping line 356: expected 57 fields, saw 62\nSkipping line 357: expected 57 fields, saw 62\nSkipping line 358: expected 57 fields, saw 62\nSkipping line 359: expected 57 fields, saw 62\nSkipping line 360: expected 57 fields, saw 62\nSkipping line 361: expected 57 fields, saw 62\nSkipping line 362: expected 57 fields, saw 62\nSkipping line 363: expected 57 fields, saw 62\nSkipping line 364: expected 57 fields, saw 62\nSkipping line 365: expected 57 fields, saw 62\nSkipping line 366: expected 57 fields, saw 62\nSkipping line 367: expected 57 fields, saw 62\nSkipping line 368: expected 57 fields, saw 62\nSkipping line 369: expected 57 fields, saw 62\nSkipping line 370: expected 57 fields, saw 62\nSkipping line 371: expected 57 fields, saw 62\nSkipping line 372: expected 57 fields, saw 62\nSkipping line 373: expected 57 fields, saw 62\nSkipping line 374: expected 57 fields, saw 62\nSkipping line 375: expected 57 fields, saw 62\nSkipping line 376: expected 57 fields, saw 62\nSkipping line 377: expected 57 fields, saw 62\nSkipping line 378: expected 57 fields, saw 62\nSkipping line 379: expected 57 fields, saw 62\nSkipping line 380: expected 57 fields, saw 62\nSkipping line 381: expected 57 fields, saw 62\n'

In [3]:
table = [raw_data_2, raw_data_3, raw_data_4, raw_data_5, raw_data_6, raw_data_7, \
    raw_data_8, raw_data_9, raw_data_10, raw_data_11, raw_data_12, raw_data_13, \
        raw_data_14, raw_data_15, raw_data_16, raw_data_17, raw_data_18, raw_data_19, \
            raw_data_20, raw_data_21, raw_data_22]

In [4]:
raw_data_2.columns

for i in range(0, 21):
    if i < 3:
        H = ['B365H', 'GBH', 'IWH', 'LBH', 'SOH', 'SBH', 'WHH']
        D = ['B365D', 'GBD', 'IWD', 'LBD', 'SOD', 'SBD', 'WHD']
        A = ['B365A', 'GBA', 'IWA', 'LBA', 'SOA', 'SBA', 'WHA']
    elif i == 3:
        H = ['B365H', 'BWH', 'GBH', 'IWH', 'LBH', 'SBH', 'WHH']
        D = ['B365D', 'BWD', 'GBD', 'IWD', 'LBD', 'SBD', 'WHD']
        A = ['B365A', 'BWA', 'GBA', 'IWA', 'LBA', 'SBA', 'WHA']
    elif i < 6:
        H = ['B365H', 'BWH', 'GBH', 'IWH', 'LBH', 'SBH', 'WHH', 'SJH', 'VCH']
        D = ['B365D', 'BWD', 'GBD', 'IWD', 'LBD', 'SBD', 'WHD', 'SJD', 'VCD']
        A = ['B365A', 'BWA', 'GBA', 'IWA', 'LBA', 'SBA', 'WHA', 'SJA', 'VCA']
    elif i < 11:
        H = ['B365H', 'BWH', 'GBH', 'IWH', 'LBH', 'SBH', 'WHH', 'SJH', 'VCH', 'BSH']
        D = ['B365D', 'BWD', 'GBD', 'IWD', 'LBD', 'SBD', 'WHD', 'SJD', 'VCD', 'BSD']
        A = ['B365A', 'BWA', 'GBA', 'IWA', 'LBA', 'SBA', 'WHA', 'SJA', 'VCA', 'BSA']
    elif i == 11:
        H = ['B365H', 'BWH', 'GBH', 'IWH', 'LBH', 'PSH', 'WHH', 'SJH', 'VCH', 'BSH']
        D = ['B365D', 'BWD', 'GBD', 'IWD', 'LBD', 'PSD', 'WHD', 'SJD', 'VCD', 'BSD']
        A = ['B365A', 'BWA', 'GBA', 'IWA', 'LBA', 'PSA', 'WHA', 'SJA', 'VCA', 'BSA']
    elif i < 14:
        H = ['B365H', 'BWH', 'IWH', 'LBH', 'PSH', 'WHH', 'SJH', 'VCH']
        D = ['B365D', 'BWD', 'IWD', 'LBD', 'PSD', 'WHD', 'SJD', 'VCD']
        A = ['B365A', 'BWA', 'IWA', 'LBA', 'PSA', 'WHA', 'SJA', 'VCA']
    elif i < 17:
        H = ['B365H', 'BWH', 'IWH', 'LBH', 'PSH', 'WHH', 'VCH']
        D = ['B365D', 'BWD', 'IWD', 'LBD', 'PSD', 'WHD', 'VCD']
        A = ['B365A', 'BWA', 'IWA', 'LBA', 'PSA', 'WHA', 'VCA']
    else:
        H = ['B365H', 'BWH', 'IWH', 'PSH', 'WHH', 'VCH']
        D = ['B365D', 'BWD', 'IWD', 'PSD', 'WHD', 'VCD']
        A = ['B365A', 'BWA', 'IWA', 'PSA', 'WHA', 'VCA']
    table[i]['HMean'] = table[i][H].mean(axis=1)
    table[i]['DMean'] = table[i][D].mean(axis=1)
    table[i]['AMean'] = table[i][A].mean(axis=1)
    table[i]['HStd'] = table[i][H].std(axis=1)
    table[i]['DStd'] = table[i][D].std(axis=1)
    table[i]['AStd'] = table[i][A].std(axis=1)
    table[i]['HMax'] = table[i][H].max(axis=1)
    table[i]['DMax'] = table[i][D].max(axis=1)
    table[i]['AMax'] = table[i][A].max(axis=1)
    table[i]['HMin'] = table[i][H].min(axis=1)
    table[i]['DMin'] = table[i][D].min(axis=1)
    table[i]['AMin'] = table[i][A].min(axis=1)
    table[i].drop(H, inplace=True, axis=1)
    table[i].drop(D, inplace=True, axis=1)
    table[i].drop(A, inplace=True, axis=1)

In [5]:
test = ['HMean', 'DMean', 'AMean', 'HStd', 'DStd', 'AStd', 'HMax', 'DMax', 'AMax', 'HMin', 'DMin', 'AMin']
raw_data_3[test].head(10)

,HMean,DMean,AMean,HStd,DStd,AStd,HMax,DMax,AMax,HMin,DMin,AMin
0,1.708429,3.271429,4.411857,0.088210,0.107460,0.504316,1.830,3.40,5.000,1.600,3.1,3.75
1,2.851429,3.171429,2.228571,0.101723,0.095119,0.039340,3.000,3.25,2.300,2.750,3.0,2.20
2,2.324286,3.137143,2.741429,0.065027,0.084600,0.061218,2.400,3.25,2.810,2.250,3.0,2.63
3,1.802857,3.208571,4.013714,0.065525,0.054903,0.337728,1.910,3.26,4.333,1.720,3.1,3.50
4,1.681286,3.378571,4.471429,0.040807,0.099403,0.125357,1.730,3.50,4.600,1.615,3.2,4.20
5,1.205714,5.100000,11.714286,0.015119,0.191485,1.112697,1.240,5.50,13.000,1.200,5.0,10.00
6,2.297143,3.195714,2.758571,0.153266,0.103900,0.195996,2.620,3.27,3.000,2.200,3.0,2.37
7,1.234571,4.757143,10.385714,0.020485,0.250713,1.381338,1.250,5.00,13.200,1.200,4.5,9.00
8,3.055714,3.151429,2.135714,0.183835,0.116966,0.047559,3.400,3.26,2.200,2.880,3.0,2.10
9,1.604714,3.450000,5.021429,0.061100,0.086603,0.565580,1.667,3.55,6.000,1.500,3.3,4.40

In [6]:
# Parse data as time 

# str转换为datetime
def parse_date(date):
    if date == '':
        return None
    else:
        return dt.strptime(date, '%d/%m/%y').date()
    

def parse_date_other(date):
    if date == '':
        return None
    else:
        return dt.strptime(date, '%d/%m/%Y').date()

#raw_data_1.Date = raw_data_1.Date.apply(parse_date)    
raw_data_2.Date = raw_data_2.Date.apply(parse_date_other)    
raw_data_3.Date = raw_data_3.Date.apply(parse_date_other)         # The date format for this dataset is different  
raw_data_4.Date = raw_data_4.Date.apply(parse_date)    
raw_data_5.Date = raw_data_5.Date.apply(parse_date)    
raw_data_6.Date = raw_data_6.Date.apply(parse_date)    
raw_data_7.Date = raw_data_7.Date.apply(parse_date)    
raw_data_8.Date = raw_data_8.Date.apply(parse_date)    
raw_data_9.Date = raw_data_9.Date.apply(parse_date)    
raw_data_10.Date = raw_data_10.Date.apply(parse_date)
raw_data_11.Date = raw_data_11.Date.apply(parse_date)
raw_data_12.Date = raw_data_12.Date.apply(parse_date)
raw_data_13.Date = raw_data_13.Date.apply(parse_date)
raw_data_14.Date = raw_data_14.Date.apply(parse_date)
raw_data_15.Date = raw_data_15.loc[0:379].Date.apply(parse_date)
raw_data_16.Date = raw_data_16.Date.apply(parse_date)
raw_data_17.Date = raw_data_17.Date.apply(parse_date)
raw_data_18.Date = raw_data_18.Date.apply(parse_date_other)
raw_data_19.Date = raw_data_19.Date.apply(parse_date_other)
raw_data_20.Date = raw_data_20.Date.apply(parse_date_other)
raw_data_21.Date = raw_data_21.Date.apply(parse_date_other)
raw_data_22.Date = raw_data_22.Date.apply(parse_date_other)

In [7]:
c = ['Date','HomeTeam','AwayTeam','FTHG','FTAG','FTR','HMean',\
    'DMean','AMean','HStd','DStd','AStd','HMax','DMax','AMax','HMin','DMin','AMin']
data2 = raw_data_2[c]
data3 = raw_data_3[c]
data4 = raw_data_4[c]
data5 = raw_data_5[c]
data6 = raw_data_6[c]
data7 = raw_data_7[c]
data8 = raw_data_8[c]
data9 = raw_data_9[c]
data10 = raw_data_10[c]
data11 = raw_data_11[c]
data12 = raw_data_12[c]
data13 = raw_data_13[c]
data14 = raw_data_14[c]
data15 = raw_data_15[c]
data16 = raw_data_16[c]
data17 = raw_data_17[c]
data18 = raw_data_18[c]
data19 = raw_data_19[c]
data20 = raw_data_20[c]
data21 = raw_data_21[c]
data22 = raw_data_22[c]
table = [data2, data3, data4, data5, data6, data7, data8, data9, data10,\
    data11, data12, data13, data14, data15, data16, data17, data18, data19, data20, data21, data22]
data15.dropna(axis=0, inplace=True)

In [8]:
def get_ht_gsgc(playing_stat):
    team_list = playing_stat.groupby('HomeTeam').mean().T.columns
    htgs, htgc = dict(), dict()
    for i in team_list:
        ht = playing_stat[playing_stat['HomeTeam'] == i]
        htgs[i] = [sum(ht.iloc[0:idx, :]['FTHG']) for idx, _ in enumerate(ht.values)]
        htgc[i] = [sum(ht.iloc[0:idx, :]['FTAG']) for idx, _ in enumerate(ht.values)]
    HTGS, HTGC = list(), list()
    for idx, i in enumerate(playing_stat.HomeTeam):
        HTGS.append(htgs[i].pop(0))
        HTGC.append(htgc[i].pop(0))
    playing_stat['HTGS'] = HTGS
    playing_stat['HTGC'] = HTGC

def get_at_gsgc(playing_stat):
    team_list = playing_stat.groupby('AwayTeam').mean().T.columns
    atgs, atgc = dict(), dict()
    for i in team_list:
        at = playing_stat[playing_stat['AwayTeam'] == i]
        atgs[i] = [sum(at.iloc[0:idx, :]['FTAG']) for idx, _ in enumerate(at.values)]
        atgc[i] = [sum(at.iloc[0:idx, :]['FTHG']) for idx, _ in enumerate(at.values)]
    ATGS, ATGC = list(), list()
    for idx, i in enumerate(playing_stat.AwayTeam):
        ATGS.append(atgs[i].pop(0))
        ATGC.append(atgc[i].pop(0))
    playing_stat['ATGS'] = ATGS
    playing_stat['ATGC'] = ATGC
    
def get_gsgc(playing_stat):
    get_ht_gsgc(playing_stat)
    get_at_gsgc(playing_stat)

In [9]:
for i in tqdm(range(0, 21)):
    get_gsgc(table[i])

100%|██████████| 21/21 [00:03<00:00,  6.79it/s]

In [10]:
def get_points(playing_stat):
    team_list = playing_stat.groupby('HomeTeam').mean().T.columns
    ht_points, at_points = dict(), dict()
    for i in team_list:
        df = playing_stat[(playing_stat['HomeTeam'] == i) | (playing_stat['AwayTeam'] == i)]
        for index, row in df.iterrows():
            if (row['HomeTeam'] == i and row['FTR'] == 'H') or (row['AwayTeam'] == i and row['FTR'] == 'A'):
                df.loc[index, 'P'] = 3
            elif row['FTR'] == 'D':
                df.loc[index, 'P'] = 1
            else:
                df.loc[index, 'P'] = 0
        ans1, ans2 = list(), list()
        for idx, j in enumerate(df.values):
            if j[1] == i:
                ans1.append(sum(df.iloc[0:idx, :]['P']))
            elif j[2] == i:
                ans2.append(sum(df.iloc[0:idx, :]['P']))
            else:
                continue
        ht_points[i] = ans1
        at_points[i] = ans2
    HTP, ATP = list(), list()
    for idx, i in enumerate(playing_stat.HomeTeam):
        HTP.append(ht_points[i].pop(0))
    for idx, i in enumerate(playing_stat.AwayTeam):
        ATP.append(at_points[i].pop(0))
    playing_stat['HTP'] = HTP
    playing_stat['ATP'] = ATP

In [11]:
for i in tqdm(range(0, 21)):
    get_points(table[i])

100%|██████████| 21/21 [00:04<00:00,  4.23it/s]

In [20]:
frames = [data2, data3, data4, data5, data6, data7, \
         data8, data9, data10, data11, data12, data13, \
         data14, data15, data16, data17, data18, data19, data20, data21, data22]
data = pd.concat(frames,ignore_index=True)
data.dropna(inplace=True)
data.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HMean,DMean,AMean,HStd,DStd,AStd,HMax,DMax,AMax,HMin,DMin,AMin
0,2002-08-17,Blackburn,Sunderland,0.0,0.0,D,1.708429,3.271429,4.411857,0.088210,0.107460,0.504316,1.83,3.40,5.000,1.600,3.1,3.75
1,2002-08-17,Charlton,Chelsea,2.0,3.0,A,2.851429,3.171429,2.228571,0.101723,0.095119,0.039340,3.00,3.25,2.300,2.750,3.0,2.20
2,2002-08-17,Everton,Tottenham,2.0,2.0,D,2.324286,3.137143,2.741429,0.065027,0.084600,0.061218,2.40,3.25,2.810,2.250,3.0,2.63
3,2002-08-17,Fulham,Bolton,4.0,1.0,H,1.802857,3.208571,4.013714,0.065525,0.054903,0.337728,1.91,3.26,4.333,1.720,3.1,3.50
4,2002-08-17,Leeds,Man City,3.0,0.0,H,1.681286,3.378571,4.471429,0.040807,0.099403,0.125357,1.73,3.50,4.600,1.615,3.2,4.20

In [21]:
# 查看每一列的数据缺失率
data.apply(lambda x:sum(x.isnull())/len(x), axis=0)

Date        0.0
HomeTeam    0.0
AwayTeam    0.0
FTHG        0.0
FTAG        0.0
FTR         0.0
HMean       0.0
DMean       0.0
AMean       0.0
HStd        0.0
DStd        0.0
AStd        0.0
HMax        0.0
DMax        0.0
AMax        0.0
HMin        0.0
DMin        0.0
AMin        0.0
dtype: float64